venv
.venv
.virtualenv
.idea
.git
*.pyc
db.sqlite3
__pycache__
*.pytest_cache
postgres-data
*.env
static
test*.py
*.session
*.session-journal
.vscode
*.log
*.sh
*.txt
*.yaml
!requirements.txt
config/
